body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 80%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    text-align: center;
    justify-content: center;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front {
    position: absolute;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .flip-card-back{
      width: 50%;
  }
  button{
      background-color: #478ED6;
      color:  rgb(255, 255, 255);
      margin-top: 5%;
      margin-left: 5%;
      
  }
  
  .flip-card-front {
    background-color:white;
    color: black;
  }
  
  .flip-card-back {
    background-color:white;
    transform: rotateY(180deg);
  }
  .profile{
      color: lightblue;
      position: relative;
      text-decoration-line:underline;
      margin-top: 20%;
  }
  .ImageStyle{
  border-radius: 50%; 
  width: 6%; 
  margin-left: 3%; 
  }